.vscode/**
.github/**
.gitignore
.node-version
.nvmrc
.prettierignore
.gitlab-ci.yml
azure-pipelines-*.yml
.pre-commit-config.yaml
.husky/**
.doppler/**
coverage/**
out/**
test/**
test-fixtures/**
src/**
scripts/**
*.vsix
*.tsbuildinfo
dist/**/*.map
dist/**/*.d.ts
node_modules/**
tsconfig*.json
eslint.config.cjs
jest.config.js
webpack.config.js
commitlint.config.cjs
Taskfile.yml
renovate.json
